* {
  margin: 0; }

body a {
  text-decoration: none;
  color: white; }

body a:link {
  color: white; }

body a:visited {
  color: white; }

body a:focus {
  border-bottom: none; }

body a:hover {
  text-decoration: none; }

#hero-container {
  margin-top: 150px; }
  #hero-container ul li {
    list-style: none;
    margin-bottom: 1em;
    font-size: 6em; }

#hero-col-1 {
  display: block;
  margin: auto;
  text-align: center; }

#hero-image {
  width: 50vw;
  height: 50%;
  max-width: 1080px;
  border-radius: 30%;
  border: 5px solid #ee9591; }

#about {
  margin-top: 3em;
  text-align: center; }
  #about a {
    color: #ee9591; }
  #about a:hover {
    text-decoration: underline;
    text-decoration-color: #dc70e4; }

#about h1 {
  padding-left: 2.5rem;
  margin-bottom: 3rem; }

.introduction {
  padding-left: 2.5rem;
  font-size: 2em; }
  .introduction abbr[title] {
    text-decoration: none; }

.socials {
  position: relative;
  text-align: right;
  padding-bottom: 1rem; }
  .socials ion-icon {
    color: white;
    background-color: #ee9591;
    border-radius: 50%;
    font-size: xx-large;
    padding: 0.3em;
    border: 1px solid black; }
  .socials ion-icon:hover {
    background-color: #dc70e4; }

nav {
  height: 3vh; }

.nav {
  position: sticky;
  color: white;
  font-size: 2em;
  background-color: #ee9591;
  height: 100px;
  text-align: center;
  align-items: center; }

.wrapper .hover {
  margin: 0 auto;
  padding: 0;
  transition: all 0.2s ease-in-out;
  position: relative; }
  .wrapper .hover:after, .wrapper .hover:before {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 5px;
    margin: 5px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.75s;
    opacity: 0;
    background-color: #f5bff1; }
  .wrapper .hover.hover-1:before {
    left: 0; }
  .wrapper .hover.hover-1:after {
    right: 0; }

.wrapper:hover {
  cursor: pointer;
  color: #f5bff1; }
  .wrapper:hover .hover:after, .wrapper:hover .hover:before {
    width: 100%;
    opacity: 1; }
  .wrapper:hover .hover.hover-1:after, .wrapper:hover .hover.hover-1:before {
    width: 50%; }

#projects {
  text-align: center; }
  #projects .projects {
    margin-top: 5vh; }
    #projects .projects h1 {
      font-size: 4em; }

.coffee {
  text-align: center;
  margin-top: 5vh; }
  .coffee h1 {
    text-align: center;
    font-size: 4em; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

#resume-container {
  text-align: center;
  margin-top: 50px;
  padding-top: 2em;
  max-width: 75vw; }
  #resume-container p,
  #resume-container h1,
  #resume-container h2,
  #resume-container h3,
  #resume-container a {
    text-align: left;
    font-family: "Times New Roman", Times, serif !important;
    font-size: xx-large; }
  #resume-container ul {
    text-align: left; }
    #resume-container ul li {
      list-style: square; }

@media only screen and (max-width: 575px) {
  .hero-container {
    display: grid;
    grid-template-areas: "img img" "l r";
    font-size: 1.2em; }
    .hero-container ul li {
      margin: 0; }
  .socials {
    position: relative;
    bottom: 13vh;
    font-size: 60%; }
  .nav {
    font-size: 1em;
    height: 50px;
    position: relative;
    margin-bottom: 10px !important; }
  #profile-picture--pattern-wrapper {
    position: relative;
    top: 15px;
    left: 25px;
    height: 20vh;
    width: 200px;
    border-radius: 10%;
    z-index: -1;
    color: #ee9591; }
  #about h1 {
    font-size: 2.9em; }
  #projects .projects h1 {
    font-size: 2.9em; } }
