* {
  margin: 0;
  font-family: 'Indie Flower'; }

.disclaimer {
  text-align: center; }

.hero-container {
  font-size: 2em;
  display: flex;
  align-items: center;
  height: 90vh !important;
  width: 100vw; }

.hero-container ul li {
  list-style: none;
  margin-bottom: 2em; }

.hero-image {
  width: inherit;
  height: inherit;
  background-color: white;
  background-image: url("../img/banner_image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.hero-left-content {
  position: relative;
  padding-left: 10%;
  width: 25vw; }

.hero-right-content {
  position: relative;
  padding-right: 10%; }

.socials {
  position: relative;
  text-align: center; }
  .socials ion-icon {
    background-color: #ee9591;
    border-radius: 50%;
    padding: 0.3em;
    border: 1px solid black; }
  .socials ion-icon:hover {
    background-color: #dc70e4; }

#hero-down-button--col {
  bottom: 50px; }

.hero-down-button {
  margin: 0 auto 0 auto;
  position: relative;
  border-radius: 10%;
  width: 35px;
  height: 35px;
  transform: rotate(45deg);
  background: linear-gradient(90deg, #ff0023 0%, #dc70e4 50%, #f406ef 100%);
  box-shadow: 10px 10px 10px 3px grey;
  border: 1px solid lightpink; }

#hero-down-button {
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in; }

#hero-down-button:hover {
  animation-duration: 0.5s; }

@keyframes pulse {
  0% {
    top: 25%; }
  50% {
    top: 15%; }
  100% {
    top: 25%; } }

.nav {
  position: sticky;
  color: white;
  font-size: 2em;
  background-color: #ee9591;
  height: 100px;
  text-align: center;
  align-items: center; }

.wrapper .hover {
  margin: 0 auto;
  padding: 0;
  transition: all 0.2s ease-in-out;
  position: relative; }
  .wrapper .hover:after, .wrapper .hover:before {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 5px;
    margin: 5px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.75s;
    opacity: 0;
    background-color: #f5bff1; }
  .wrapper .hover.hover-1:before {
    left: 0; }
  .wrapper .hover.hover-1:after {
    right: 0; }

.wrapper:hover {
  cursor: pointer;
  color: #f5bff1; }
  .wrapper:hover .hover:after, .wrapper:hover .hover:before {
    width: 100%;
    opacity: 1; }
  .wrapper:hover .hover.hover-1:after, .wrapper:hover .hover.hover-1:before {
    width: 50%; }

#profile-picture--pattern-wrapper {
  position: relative;
  top: 25px;
  left: 50px;
  height: 50vh;
  width: 500px;
  margin: 0 auto;
  border-radius: 10%;
  z-index: -1;
  color: #ee9591; }

#profile-picture {
  margin: 5vh auto;
  width: 500px;
  height: 50vh;
  background-image: url("../img/Alan-Japan.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10%;
  border: 5px solid #ee9591; }

#about {
  text-align: center; }

#about h1 {
  font-size: 4em; }

.introduction {
  margin: 0 15vw;
  font-size: 2em; }
  .introduction abbr[title] {
    text-decoration: none; }

#projects {
  text-align: center; }
  #projects .projects {
    margin-top: 25vh; }
    #projects .projects h1 {
      font-size: 4em; }

.coffee {
  text-align: center; }
  .coffee h1 {
    text-align: center;
    font-size: 4em;
    margin-bottom: 5vh;
    color: red; }

#group-photo {
  padding: 0 !important;
  margin: 0;
  color: red;
  height: 30vh;
  background-image: url("../img/coffee/group-photo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: #ee9591 5px solid; }

@media only screen and (max-width: 575px) {
  .hero-container {
    display: grid;
    grid-template-areas: 'img img' 'l r';
    font-size: 1.2em; }
    .hero-container ul li {
      margin: 0; }
  .hero-image {
    grid-area: img; }
  .hero-left-content {
    display: none; }
  .hero-right-content {
    display: none; }
  .socials {
    position: relative;
    bottom: 10vh;
    font-size: 60%; }
  #hero-down-button {
    width: 20px;
    height: 20px; }
  .nav {
    font-size: 1em;
    height: 50px;
    position: relative;
    margin-bottom: 10px !important; }
  #profile-picture {
    margin: 0 auto 5vh;
    width: 200px;
    height: 20vh; }
  #profile-picture--pattern-wrapper {
    position: relative;
    top: 15px;
    left: 25px;
    height: 20vh;
    width: 200px;
    border-radius: 10%;
    z-index: -1;
    color: #ee9591; }
  #about h1 {
    font-size: 2.9em; }
  #projects .projects h1 {
    font-size: 2.9em; } }
