$animate: all 0.2s ease-in-out;

* {
  margin: 0;
  // font-family: "Indie Flower";
}

body {
  a {
    text-decoration: none;
    color: white;
  }

  a:link {
    color: white;
  }

  a:visited {
    color: white;
  }

  a:focus {
    border-bottom: none;
  }

  a:hover {
    text-decoration: none;
  }
}
$primary-color: rgb(238, 149, 145);
$secondary-color: rgba(220, 112, 228, 1);

#hero-container {
  margin-top: 150px;
  ul li {
    list-style: none;
    margin-bottom: 1em;
    font-size: 6em;
  }
}
#hero-col-1 {
  display: block;
  margin: auto;
  text-align: center;
}

#hero-image {
  width: 50vw;
  height: 50%;
  max-width: 1080px;
  border-radius: 30%;
  border: 5px solid $primary-color;
}

// #pattern-wrapper {
//   position: relative;
//   min-height: 300px;
//   bottom: 250px;
//   left: 30px;
//   height: 100%;
//   width: 100%;
//   margin: 0 auto;
//   border-radius: 30%;
//   z-index: -1;
//   // background-color: $secondary-color;
//   color: $primary-color;
// }

#about {
  margin-top: 3em;
  text-align: center;

  a {
    color: $primary-color;
  }

  a:hover {
    text-decoration: underline;
    text-decoration-color: $secondary-color;
  }
}

#about h1 {
  // font-size: 4em;
  padding-left: 2.5rem;
  margin-bottom: 3rem;
}

.introduction {
  //  margin: 0 5em;
  padding-left: 2.5rem;
  font-size: 2em;
  abbr[title] {
    text-decoration: none;
  }
}

// .hero-down-button {
//   margin: 0 auto;
//   position: absolute;
//   border-radius: 10%;
//   width: 50px;
//   height: 50px;
//   transform: rotate(45deg);
//   background: linear-gradient(90deg, rgba(255,0,35,1) 0%, $secondary-color 50%, rgba(244,6,239,1) 100%);
//   box-shadow: 10px 10px 10px 3px grey;
//   border: 1px solid lightpink;

// }

// #hero-down-button {
//   position: relative;
//   animation-name: pulse;
//   animation-duration: 2s;
//   animation-iteration-count: infinite;
//   animation-timing-function: ease-in;
// }

// #hero-down-button:hover {
//   cursor: pointer;
// }

// @keyframes pulse {
//   0% {
//     top: -200px;
//   }

//   50% {
//     top: -150px;
//   }

//   100% {
//     top: -200px;
//   }
// }
// .hero-right-content {
//   position: relative;
//   border: 1px solid black;
// }

.socials {
  position: relative;
  text-align: right;
  padding-bottom: 1rem;
  ion-icon {
    color: white;
    background-color: $primary-color;
    border-radius: 50%;
    font-size: xx-large;
    padding: 0.3em;
    border: 1px solid black;
  }

  ion-icon:hover {
    background-color: $secondary-color;
  }
}
nav {
  height: 3vh;
}
.nav {
  position: sticky;
  color: white;
  font-size: 2em;
  background-color: $primary-color;
  height: 100px;
  text-align: center;
  align-items: center;
}
//underline elements in the nav
.wrapper {
  .hover {
    margin: 0 auto;
    padding: 0;
    transition: $animate;
    position: relative;
    &:after,
    &:before {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 0;
      height: 5px;
      margin: 5px 0 0;
      transition: $animate;
      transition-duration: 0.75s;
      opacity: 0;
      background-color: rgb(245, 191, 241);
    }

    &.hover-1 {
      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }
    }
  }

  &:hover {
    cursor: pointer;
    color: rgb(245, 191, 241);

    .hover {
      &:after,
      &:before {
        width: 100%;
        opacity: 1;
      }

      &.hover-1 {
        &:after,
        &:before {
          width: 50%;
        }
      }
    }
  }
}

#projects {
  text-align: center;

  .projects {
    margin-top: 5vh;

    h1 {
      font-size: 4em;
    }
  }
}

.coffee {
  text-align: center;
  margin-top: 5vh;

  h1 {
    text-align: center;
    font-size: 4em;
  }
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

#resume-container {
  text-align: center;
  margin-top: 50px;
  padding-top: 2em;
  max-width: 75vw;
  p,
  h1,
  h2,
  h3,
  a {
    text-align: left;
    font-family: "Times New Roman", Times, serif !important;
    font-size: xx-large;
  }
  ul {
    li {
      list-style: square;
    }
    text-align: left;
  }
}
//Small screens only
@media only screen and (max-width: 575px) {
  .hero-container {
    display: grid;
    grid-template-areas: "img img" "l r";
    font-size: 1.2em;

    ul li {
      margin: 0;
    }
  }

  .socials {
    position: relative;
    bottom: 13vh;
    font-size: 60%;
  }

  .nav {
    font-size: 1em;
    height: 50px;
    position: relative;
    margin-bottom: 10px !important;
  }

  #profile-picture--pattern-wrapper {
    position: relative;
    top: 15px;
    left: 25px;
    height: 20vh;
    width: 200px;
    border-radius: 10%;
    z-index: -1;
    color: $primary-color;
  }

  #about h1 {
    font-size: 2.9em;
  }

  #projects .projects h1 {
    font-size: 2.9em;
  }
}
//large screens
