$animate: all 0.2s ease-in-out;

* {
  margin: 0;
  // font-family: "Indie Flower";
}

body {
  a {
    text-decoration: none;
    color: white;
  }

  a:link {
    color: white;
  }

  a:visited {
    color: white;
  }

  a:focus {
    border-bottom: none;
  }

  a:hover {
    text-decoration: none;
  }
}
$primary-color: rgb(238, 149, 145);
$secondary-color: rgba(220, 112, 228, 1);

#hero-container {
  margin-top: 150px;
  ul li {
    list-style: none;
    margin-bottom: 1em;
    font-size: 6em;
  }
}
#hero-col-1 {
  display: block;
  margin: auto;
  text-align: center;
}

#hero-image {
  width: 50vw;
  height: 50%;
  max-width: 1080px;
  border-radius: 30%;
  border: 5px solid $primary-color;
}

// #pattern-wrapper {
//   position: relative;
//   min-height: 300px;
//   bottom: 250px;
//   left: 30px;
//   height: 100%;
//   width: 100%;
//   margin: 0 auto;
//   border-radius: 30%;
//   z-index: -1;
//   // background-color: $secondary-color;
//   color: $primary-color;
// }

#about {
  margin-top: 3em;
  text-align: center;

  a {
    color: $primary-color;
  }

  a:hover {
    text-decoration: underline;
    text-decoration-color: $secondary-color;
  }
}

#about h1 {
  // font-size: 4em;
  padding-left: 2.5rem;
  margin-bottom: 3rem;
}

.introduction {
  //  margin: 0 5em;
  padding-left: 2.5rem;
  font-size: 2em;
  abbr[title] {
    text-decoration: none;
  }
}

.socials {
  text-align: right;
  padding-bottom: 1em;
  ion-icon {
    color: white;
    background-color: $primary-color;
    border-radius: 50%;
    font-size: xx-large;
    padding: 0.3em;
    border: 1px solid black;
  }

  ion-icon:hover {
    background-color: $secondary-color;
  }
}
nav {
  height: 3vh;
}
.nav {
  position: sticky;
  color: white;
  font-size: 2em;
  background-color: $primary-color;
  height: 100px;
  text-align: center;
  align-items: center;
}
//underline elements in the nav
.wrapper {
  .hover {
    margin: 0 auto;
    padding: 0;
    transition: $animate;
    position: relative;
    &:after,
    &:before {
      content: "";
      position: absolute;
      bottom: -10px;
      width: 0;
      height: 5px;
      margin: 5px 0 0;
      transition: $animate;
      transition-duration: 0.75s;
      opacity: 0;
      background-color: rgb(245, 191, 241);
    }

    &.hover-1 {
      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }
    }
  }

  &:hover {
    cursor: pointer;
    color: rgb(245, 191, 241);

    .hover {
      &:after,
      &:before {
        width: 100%;
        opacity: 1;
      }

      &.hover-1 {
        &:after,
        &:before {
          width: 50%;
        }
      }
    }
  }
}

#projects {
  text-align: center;

  .projects {
    margin-top: 5vh;

    h1 {
      font-size: 4em;
    }
  }
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

//Small screens only
@media only screen and (max-width: 575px) {
  .hero-container {
    // display: grid;
    // grid-template-areas: "img img" "l r";
    // font-size: 1.2em;

    // ul li {
    //   margin: 0;
    // }
  }

  .socials {
    position: relative;
    font-size: 60%;
  }

  #about h1 {
    font-size: 2.9em;
  }
}
//large screens
